<div class="control-group">
  <%= f.label :address, "Address", :class=>"control-label" %>
  <div class="controls">
    <%= f.text_field :address %>
  </div>
</div>
<div class="control-group">
  <%= f.label :address2, "Address Suite/Room", :class=>"control-label" %>
  <div class="controls">
    <%= f.text_field :address2 %>
  </div>
</div>
<div class="control-group">
  <%= f.label :city, "City", :class=>"control-label" %>
  <div class="controls">
    <%= f.text_field :city %>
  </div>
</div>
<div class="control-group">
  <%= f.label :state, "State", :class=>"control-label" %>
  <div class="controls">
    <%= f.text_field :state %>
  </div>
</div>
<div class="control-group">
  <%= f.label :zipcode, "Zipcode", :class=>"control-label" %>
  <div class="controls">
    <%= f.text_field :zipcode %>
  </div>
</div>

